/ELearning.iml
workspace.xml
misc.xml
gwt_user.xml
.idea/workspace.xml
/.idea/*
.idea/*
*.project
*.classpath
*.class
war/elearnig/*
war/WEB-INF/classes/*
war/WEB-INF/deploy/*
war/WEB-INF/lib/*
war/WEB-INF/appengine-web.xml
war/WEB-INF/logging.properties
.idea/sqldialects.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
gxt_3_0_6.xml