/** Add css rules here for your application. */

.headerPanel {
  background-color: #2a6292;
  border-bottom: 2px dotted gray;
}

.headerButtonsPanel {
  background-color: #2d72a5;
}

.mainELearningContainer {
  background-color: #6699ee;
}

.mainELearningContainer_second {
  background-color: #4477cc;
}

/*ProfileBarView*/
.buttonsToolbar {
  background-color: #2a6292;
}

.buttonsBar {
  background-color: rgba(72, 71, 74, 0.62);
}

.whiteBackground {
  background-color: white !important;
}

.adminRoleBackground {
  background-color: #77aaff !important;
}

.correctAnswerBackground {
  background-color: #4fff47 !important;
}

.enrolledLectureBackground {
  background-color: #12c25e !important;
}

.questionBarBackground {
  background-color: #5298c2 !important;
}

.forgotPasswordLabelBackground {
  color: #811a1e;
}