/** Add css rules here for your application. */

.headerPanel {
  background-color: #2a6292;
  border-bottom: 2px dotted gray;
}

.headerButtonsPanel {
  background-color: #2d72a5;
}

.mainELearningContainer {
  background-color: #6699ee;
}

/*ProfileBarView*/
.buttonsToolbar {
  background-color: #2a6292;
}

.buttonsBar {
  background-color: rgba(72, 71, 74, 0.62);
}

.whiteBackground {
  background-color: white;
}

.adminRoleBackground {
  background-color: #77aaff !important;
}