<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <servlet>
        <servlet-name>com.google.gwt.sample.elearning.ELearning UserService</servlet-name>
        <servlet-class>com.google.gwt.sample.elearning.server.service.UserServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.google.gwt.sample.elearning.ELearning LoginService</servlet-name>
        <servlet-class>com.google.gwt.sample.elearning.server.service.LoginServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.google.gwt.sample.elearning.ELearning LectureService</servlet-name>
        <servlet-class>com.google.gwt.sample.elearning.server.service.LectureServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.google.gwt.sample.elearning.ELearning ProfessorService</servlet-name>
        <servlet-class>com.google.gwt.sample.elearning.server.service.ProfessorServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lectureDownloadService</servlet-name>
        <servlet-class>com.google.gwt.sample.elearning.server.LectureDownloadService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lectureUploadService</servlet-name>
        <servlet-class>com.google.gwt.sample.elearning.server.service.LectureUploadService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usersDownloadService</servlet-name>
        <servlet-class>com.google.gwt.sample.elearning.server.service.UsersDownloadService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usersUploadService</servlet-name>
        <servlet-class>com.google.gwt.sample.elearning.server.service.UsersUploadService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emailService</servlet-name>
        <servlet-class>com.google.gwt.sample.elearning.server.service.EmailServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forumService</servlet-name>
        <servlet-class>com.google.gwt.sample.elearning.server.service.ForumServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logService</servlet-name>
        <servlet-class>com.google.gwt.sample.elearning.server.service.LogServiceImpl</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>com.google.gwt.sample.elearning.ELearning UserService</servlet-name>
        <url-pattern>/elearning/UserService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.google.gwt.sample.elearning.ELearning LoginService</servlet-name>
        <url-pattern>/elearning/LoginService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.google.gwt.sample.elearning.ELearning LectureService</servlet-name>
        <url-pattern>/elearning/LectureService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.google.gwt.sample.elearning.ELearning ProfessorService</servlet-name>
        <url-pattern>/elearning/ProfessorService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lectureDownloadService</servlet-name>
        <url-pattern>/elearning/lectureDownloadService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lectureUploadService</servlet-name>
        <url-pattern>/elearning/lectureUploadService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usersDownloadService</servlet-name>
        <url-pattern>/elearning/usersDownloadService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usersUploadService</servlet-name>
        <url-pattern>/elearning/usersUploadService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emailService</servlet-name>
        <url-pattern>/elearning/EmailService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forumService</servlet-name>
        <url-pattern>/elearning/ForumService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logService</servlet-name>
        <url-pattern>/elearning/LogService</url-pattern>
    </servlet-mapping>


    <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ELearning.html</welcome-file>
  </welcome-file-list>

</web-app>
